In [1]:
import sqlite3
from datetime import date, timedelta
import random

connection=sqlite3.connect('icd.db') #conexão
c = connection.cursor() #cursor
c.execute('CREATE TABLE IF NOT EXISTS tabela(Conta TEXT, Data TEXT, Valor INTEGER, x INTEGER PRIMARY KEY)') #td q for sql por em maiúsculo
c.execute('CREATE TABLE IF NOT EXISTS tipo(A INTEGER, B INTEGER, C INTEGER, x INTEGER, Data TEXT PRIMARY KEY, FOREIGN KEY (x) REFERENCES tabela(x))')

In [2]:
Data=[]
x=[]

for i in range(30):
    x.append(i)
    Data=((date.today()+timedelta(days=i)).isoformat())
    Valor=random.randrange(-5000, 5000)
    A=Valor/2
    B=Valor/4
    C=Valor/6
    if Valor > 0:
        conta = 'Positivo'
    elif Valor < 0:
        conta = 'Negativo'
    else:
        conta = 'Neutro'
    c.execute("INSERT INTO tabela(Conta, Data, Valor, x)VALUES (?,?,?,?)",(conta, Data, Valor, x[i]))
    c.execute("INSERT INTO tipo(A,B,C,x,Data)VALUES(?,?,?,?,?)",(A,B,C,x[i],Data))
    connection.commit()

In [3]:
c.execute('SELECT * FROM tipo')
for data in c.fetchall():
    print(data)
#c.close()
#connection.close()

(-376.5, -188.25, -125.5, 0, '2021-08-22')
(-370.5, -185.25, -123.5, 1, '2021-08-23')
(284, 142, 94.66666666666667, 2, '2021-08-24')
(513, 256.5, 171, 3, '2021-08-25')
(-1386.5, -693.25, -462.1666666666667, 4, '2021-08-26')
(-1590.5, -795.25, -530.1666666666666, 5, '2021-08-27')
(2344.5, 1172.25, 781.5, 6, '2021-08-28')
(-1199, -599.5, -399.6666666666667, 7, '2021-08-29')
(-1515, -757.5, -505, 8, '2021-08-30')
(1793, 896.5, 597.6666666666666, 9, '2021-08-31')
(-1778.5, -889.25, -592.8333333333334, 10, '2021-09-01')
(2090.5, 1045.25, 696.8333333333334, 11, '2021-09-02')
(1790, 895, 596.6666666666666, 12, '2021-09-03')
(-735, -367.5, -245, 13, '2021-09-04')
(-1187, -593.5, -395.6666666666667, 14, '2021-09-05')
(-524, -262, -174.66666666666666, 15, '2021-09-06')
(2152.5, 1076.25, 717.5, 16, '2021-09-07')
(2143.5, 1071.75, 714.5, 17, '2021-09-08')
(-1704, -852, -568, 18, '2021-09-09')
(-2313.5, -1156.75, -771.1666666666666, 19, '2021-09-10')
(1364, 682, 454.6666666666667, 20, '2021-09-11')
(1229.5, 614.75, 409.8333333333333, 21, '2021-09-12')
(2094, 1047, 698, 22, '2021-09-13')
(1946, 973, 648.6666666666666, 23, '2021-09-14')
(76, 38, 25.333333333333332, 24, '2021-09-15')
(704.5, 352.25, 234.83333333333334, 25, '2021-09-16')
(2475.5, 1237.75, 825.1666666666666, 26, '2021-09-17')
(239, 119.5, 79.66666666666667, 27, '2021-09-18')
(553.5, 276.75, 184.5, 28, '2021-09-19')
(525, 262.5, 175, 29, '2021-09-20')

In [4]:
# dando join nas tuas tabelas pelo indice (definido como x)
c.execute('SELECT * FROM tabela INNER JOIN tipo ON tabela.x = tipo.x ')
for data in c.fetchall():
    print(data)

('Negativo', '2021-08-22', -753, 0, -376.5, -188.25, -125.5, 0, '2021-08-22')
('Negativo', '2021-08-23', -741, 1, -370.5, -185.25, -123.5, 1, '2021-08-23')
('Positivo', '2021-08-24', 568, 2, 284, 142, 94.66666666666667, 2, '2021-08-24')
('Positivo', '2021-08-25', 1026, 3, 513, 256.5, 171, 3, '2021-08-25')
('Negativo', '2021-08-26', -2773, 4, -1386.5, -693.25, -462.1666666666667, 4, '2021-08-26')
('Negativo', '2021-08-27', -3181, 5, -1590.5, -795.25, -530.1666666666666, 5, '2021-08-27')
('Positivo', '2021-08-28', 4689, 6, 2344.5, 1172.25, 781.5, 6, '2021-08-28')
('Negativo', '2021-08-29', -2398, 7, -1199, -599.5, -399.6666666666667, 7, '2021-08-29')
('Negativo', '2021-08-30', -3030, 8, -1515, -757.5, -505, 8, '2021-08-30')
('Positivo', '2021-08-31', 3586, 9, 1793, 896.5, 597.6666666666666, 9, '2021-08-31')
('Negativo', '2021-09-01', -3557, 10, -1778.5, -889.25, -592.8333333333334, 10, '2021-09-01')
('Positivo', '2021-09-02', 4181, 11, 2090.5, 1045.25, 696.8333333333334, 11, '2021-09-02')
('Positivo', '2021-09-03', 3580, 12, 1790, 895, 596.6666666666666, 12, '2021-09-03')
('Negativo', '2021-09-04', -1470, 13, -735, -367.5, -245, 13, '2021-09-04')
('Negativo', '2021-09-05', -2374, 14, -1187, -593.5, -395.6666666666667, 14, '2021-09-05')
('Negativo', '2021-09-06', -1048, 15, -524, -262, -174.66666666666666, 15, '2021-09-06')
('Positivo', '2021-09-07', 4305, 16, 2152.5, 1076.25, 717.5, 16, '2021-09-07')
('Positivo', '2021-09-08', 4287, 17, 2143.5, 1071.75, 714.5, 17, '2021-09-08')
('Negativo', '2021-09-09', -3408, 18, -1704, -852, -568, 18, '2021-09-09')
('Negativo', '2021-09-10', -4627, 19, -2313.5, -1156.75, -771.1666666666666, 19, '2021-09-10')
('Positivo', '2021-09-11', 2728, 20, 1364, 682, 454.6666666666667, 20, '2021-09-11')
('Positivo', '2021-09-12', 2459, 21, 1229.5, 614.75, 409.8333333333333, 21, '2021-09-12')
('Positivo', '2021-09-13', 4188, 22, 2094, 1047, 698, 22, '2021-09-13')
('Positivo', '2021-09-14', 3892, 23, 1946, 973, 648.6666666666666, 23, '2021-09-14')
('Positivo', '2021-09-15', 152, 24, 76, 38, 25.333333333333332, 24, '2021-09-15')
('Positivo', '2021-09-16', 1409, 25, 704.5, 352.25, 234.83333333333334, 25, '2021-09-16')
('Positivo', '2021-09-17', 4951, 26, 2475.5, 1237.75, 825.1666666666666, 26, '2021-09-17')
('Positivo', '2021-09-18', 478, 27, 239, 119.5, 79.66666666666667, 27, '2021-09-18')
('Positivo', '2021-09-19', 1107, 28, 553.5, 276.75, 184.5, 28, '2021-09-19')
('Positivo', '2021-09-20', 1050, 29, 525, 262.5, 175, 29, '2021-09-20')

In [5]:
c.execute("SELECT * FROM tabela INNER JOIN tipo ON tabela.x = tipo.x WHERE valor>=4000")
for data in c.fetchall():
    print(data)

('Positivo', '2021-08-28', 4689, 6, 2344.5, 1172.25, 781.5, 6, '2021-08-28')
('Positivo', '2021-09-02', 4181, 11, 2090.5, 1045.25, 696.8333333333334, 11, '2021-09-02')
('Positivo', '2021-09-07', 4305, 16, 2152.5, 1076.25, 717.5, 16, '2021-09-07')
('Positivo', '2021-09-08', 4287, 17, 2143.5, 1071.75, 714.5, 17, '2021-09-08')
('Positivo', '2021-09-13', 4188, 22, 2094, 1047, 698, 22, '2021-09-13')
('Positivo', '2021-09-17', 4951, 26, 2475.5, 1237.75, 825.1666666666666, 26, '2021-09-17')

In [6]:
c.execute("SELECT * FROM tabela WHERE valor>=4000 AND Data >= '2021-09-10'")
for data in c.fetchall():
    print(data)

('Positivo', '2021-09-13', 4188, 22)
('Positivo', '2021-09-17', 4951, 26)

In [7]:
c.execute("SELECT * FROM tabela WHERE conta=='Positivo'")
for data in c.fetchall():
    print(data)

('Positivo', '2021-08-24', 568, 2)
('Positivo', '2021-08-25', 1026, 3)
('Positivo', '2021-08-28', 4689, 6)
('Positivo', '2021-08-31', 3586, 9)
('Positivo', '2021-09-02', 4181, 11)
('Positivo', '2021-09-03', 3580, 12)
('Positivo', '2021-09-07', 4305, 16)
('Positivo', '2021-09-08', 4287, 17)
('Positivo', '2021-09-11', 2728, 20)
('Positivo', '2021-09-12', 2459, 21)
('Positivo', '2021-09-13', 4188, 22)
('Positivo', '2021-09-14', 3892, 23)
('Positivo', '2021-09-15', 152, 24)
('Positivo', '2021-09-16', 1409, 25)
('Positivo', '2021-09-17', 4951, 26)
('Positivo', '2021-09-18', 478, 27)
('Positivo', '2021-09-19', 1107, 28)
('Positivo', '2021-09-20', 1050, 29)

In [8]:
c.execute("SELECT * FROM tabela")

#connection.commit() # sends a COMMIT statement to the MySQL server, committing the current transaction
for data in c.fetchall():
    print(data)

('Negativo', '2021-08-22', -753, 0)
('Negativo', '2021-08-23', -741, 1)
('Positivo', '2021-08-24', 568, 2)
('Positivo', '2021-08-25', 1026, 3)
('Negativo', '2021-08-26', -2773, 4)
('Negativo', '2021-08-27', -3181, 5)
('Positivo', '2021-08-28', 4689, 6)
('Negativo', '2021-08-29', -2398, 7)
('Negativo', '2021-08-30', -3030, 8)
('Positivo', '2021-08-31', 3586, 9)
('Negativo', '2021-09-01', -3557, 10)
('Positivo', '2021-09-02', 4181, 11)
('Positivo', '2021-09-03', 3580, 12)
('Negativo', '2021-09-04', -1470, 13)
('Negativo', '2021-09-05', -2374, 14)
('Negativo', '2021-09-06', -1048, 15)
('Positivo', '2021-09-07', 4305, 16)
('Positivo', '2021-09-08', 4287, 17)
('Negativo', '2021-09-09', -3408, 18)
('Negativo', '2021-09-10', -4627, 19)
('Positivo', '2021-09-11', 2728, 20)
('Positivo', '2021-09-12', 2459, 21)
('Positivo', '2021-09-13', 4188, 22)
('Positivo', '2021-09-14', 3892, 23)
('Positivo', '2021-09-15', 152, 24)
('Positivo', '2021-09-16', 1409, 25)
('Positivo', '2021-09-17', 4951, 26)
('Positivo', '2021-09-18', 478, 27)
('Positivo', '2021-09-19', 1107, 28)
('Positivo', '2021-09-20', 1050, 29)

In [10]:
c.execute('UPDATE tabela SET valor = 0 WHERE valor BETWEEN -5000 AND 0')

c.execute("SELECT * FROM tabela")

#connection.commit() # sends a COMMIT statement to the MySQL server, committing the current transaction
for data in c.fetchall():
    print(data)

('Negativo', '2021-08-22', 0, 0)
('Negativo', '2021-08-23', 0, 1)
('Positivo', '2021-08-24', 568, 2)
('Positivo', '2021-08-25', 1026, 3)
('Negativo', '2021-08-26', 0, 4)
('Negativo', '2021-08-27', 0, 5)
('Positivo', '2021-08-28', 4689, 6)
('Negativo', '2021-08-29', 0, 7)
('Negativo', '2021-08-30', 0, 8)
('Positivo', '2021-08-31', 3586, 9)
('Negativo', '2021-09-01', 0, 10)
('Positivo', '2021-09-02', 4181, 11)
('Positivo', '2021-09-03', 3580, 12)
('Negativo', '2021-09-04', 0, 13)
('Negativo', '2021-09-05', 0, 14)
('Negativo', '2021-09-06', 0, 15)
('Positivo', '2021-09-07', 4305, 16)
('Positivo', '2021-09-08', 4287, 17)
('Negativo', '2021-09-09', 0, 18)
('Negativo', '2021-09-10', 0, 19)
('Positivo', '2021-09-11', 2728, 20)
('Positivo', '2021-09-12', 2459, 21)
('Positivo', '2021-09-13', 4188, 22)
('Positivo', '2021-09-14', 3892, 23)
('Positivo', '2021-09-15', 152, 24)
('Positivo', '2021-09-16', 1409, 25)
('Positivo', '2021-09-17', 4951, 26)
('Positivo', '2021-09-18', 478, 27)
('Positivo', '2021-09-19', 1107, 28)
('Positivo', '2021-09-20', 1050, 29)

In [15]:
c.execute('DELETE FROM tabela WHERE valor = 0')

c.execute("SELECT * FROM tabela")
for data in c.fetchall():
    print(data)

('Positivo', '2021-08-24', 568, 2)
('Positivo', '2021-08-25', 1026, 3)
('Positivo', '2021-08-28', 4689, 6)
('Positivo', '2021-08-31', 3586, 9)
('Positivo', '2021-09-02', 4181, 11)
('Positivo', '2021-09-03', 3580, 12)
('Positivo', '2021-09-07', 4305, 16)
('Positivo', '2021-09-08', 4287, 17)
('Positivo', '2021-09-11', 2728, 20)
('Positivo', '2021-09-12', 2459, 21)
('Positivo', '2021-09-13', 4188, 22)
('Positivo', '2021-09-14', 3892, 23)
('Positivo', '2021-09-15', 152, 24)
('Positivo', '2021-09-16', 1409, 25)
('Positivo', '2021-09-17', 4951, 26)
('Positivo', '2021-09-18', 478, 27)
('Positivo', '2021-09-19', 1107, 28)
('Positivo', '2021-09-20', 1050, 29)

In [16]:
c.close()
connection.close()

In [17]:
c.execute("SELECT * FROM tabela")

ProgrammingError: Cannot operate on a closed cursor.